.header-name {
  font-size: 2.5rem;
  font-weight: 700;
  background-image: linear-gradient(90deg, #c850c0 9%, #ffcc70 99%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
